
<div class="container">
  <div class="ring">
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
  </div>
</div>

</div>
 
    <script src="js/zepto.min.js"></script>
    <script src="js/gsap.min.js"></script>
    <script src="js/GSDevTools3.min.js"></script>
    <script src="js/SplitText3.min.js"></script>
    <script src="js/custom.js"></script>
    <link rel="stylesheet"href="css/website.css">