body {
    margin:0;
  }
  
  .demo {
    background-color:#1d1d1d;
    font-family: Signika Negative, sans-serif;
    font-weight: 300;
    color:#989898; 
    padding:10px;
    
    font-size:20px;
    line-height:30px;
  }
  #textblock {
    height:140px;
  }
  
  .orange {
    color:#f60;
  }