html, body {
  height: 100%;  
}

body {
  background: #000;
  overflow: hidden;
}

canvas {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.hud {  
  position: absolute;
  top: 0;
  left: 0;  
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #eee;
  font-size: 10px;
  padding: 4px 8px;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
  user-select: none;
}