<div class="demo">
  <div id="textblock">
    <div id="scramble"></div>
    <span id="charsCustom"></span> 
    <span id="charsNumbers"></span><br>
    <span id="charsUppercase"></span>
    <span id="charsLowercase"></span>
    <div id="newClass"></div>
  </div>
</div>
<script src="js/gsap.min.js"></script>
<script src="js/GSDevTools3.min.js"></script>
<script src='js/ScrambleTextPlugin3.min.js'></script>
<script src="js/custom.js"></script>
<link rel="stylesheet" href="css/website.css">