<div class="body" style="padding:15px;">
GreenSock Useful Sample<br><br>
Image
<ul>
    <li><a href="Flip/index.html">Flip</a></li>
    <li><a href="carousell/index.html">Carousel</a></li>
    <li><a href="3D_Carousell/index.html">3D Carousel</a></li>
</ul>
Text / Sentence
<ul>
    <li><a href="ScrambleText/index.html">ScrambleText</a></li> (Subscript Required) <a target="_blank" href="https://codepen.io/GreenSock/embed/jOxpVw?default-tab=result&height=268&name=cp_embed_1&slug-hash=dIBbw&theme-id=3984&user=GreenSock">Sample Link</a>
    <li><a href="SplitText/index.html">SplitText</a></li> (Subscript Required) <a target="_blank" href="https://codepen.io/GreenSock/embed/DBGYXK?animations=run&default-tab=result&height=400&href=mvhak&name=cp_embed_1&safe=true&slug-hash=mvhak&type=result&user=GreenSock">Sample Link</a>
    <li><a href="Random_Words/index.html">Random Words</a></li>  (Subscript Required) <a target="_blank" href="https://codepen.io/GreenSock/pen/zYRMzQ">Sample Link</a>
</ul>
Other
<ul>
    <li><a href="cursor_effect/index.html">Cursor Effect</a></li>
    <li><a href="title_video/index.html">Title With Video</a></li>
</ul>
</div>