html{
  background-color:#fff;
  height: 100%;
}

body {
    height:100%;
  background-color: #fff;
  
}
.titles{ 
    /* color: #00FFF3; */
    color: #000;
}
.demoWrapper {
  width: 680px;
  height: 400px;
  -webkit-font-smoothing: antialiased;
  margin: 50px auto;
  perspective: 1100px;
  transform-style: preserve-3d;
 /* padding: 1px;*/
    margin-bottom: 200px;
/*   background-color: #000; */
   
    
}

.box {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #06f;
  display: inline-block;
  margin: 10px 20px 50px 235px; 

  overflow:hidden;
}

.creative-pro{ 
    /* border: 1px solid #00fff3; */
    border: 1px solid #000;
    /* color: #00FFF2; */
    color: #000;
   background: transparent;
    height: 600px;
}

.creative-pro:hover{
    cursor: pointer;
    /* box-shadow: 0 4px 8px 0 #00fff3, 0 6px 20px 0 #00fff3; */
    box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;
}
.card img{
  width:100%;
}
.card-body p{
  font-weight: bold;
  margin:0px;
}
.card-body{
  padding:10px;
}