body{
  font-family: 'Asap', Arial, Helvetica, sans-serif;
  color:white;
  background:black no-repeat 50% 0px;
  margin:3% 10% 0 10%;
  overflow:hidden;
}

#quote{
  font-size:44px;
  line-height:50px;
  color:#dedede;
}

button {
  padding:10px;
  margin: 20px 0;
}