<div id="quote">Deadlines are looming. You've got to deliver something that looks amazing, packed with lots of whiz-bang
    effects that run smoothly on various machines. No time to reinvent the wheel. You need a reliable tool set that
    helps you live up to your reputation as a coding Rock Star.</div>
    <script src="js/gsap.min.js"></script>
    <script src="js/GSDevTools3.min.js"></script>
    <script src="js/SplitText3.min.js"></script>
    <script src="js/custom.js"></script>
    <link rel="stylesheet"href="css/website.css">