<div class="nav">
  <label><input type="checkbox" name="overflow" id="overflow" value="1" /> Show overflow</label>
  </div>
  <div class="wrapper">
    <div class="boxes">
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-owl.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-deer.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-hipster.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-ram.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-dog.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-sideram.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-multiram.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-gorilla.png">
      </div>
      <div class="box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/181794/kl-bird.png">
      </div>
    </div>
  </div>
</div>
<script src="js/gsap.min.js"></script>
<script src="js/custom.js"></script>
<link rel="stylesheet" href="css/website.css">