body {
  background:#1d1d1d;
  font-family:Asap, sans-serif;
}

.wrapper{
  width:800px;
  height:100px;
  position:relative;
  margin:auto;
  background:#ccc;
  overflow:hidden;
}

.wrapper::after {
  width:798px;
  height:100px;
  content:"";
  position:absolute;
  border:solid 1px white;
}

.box{
  width:100px;
  height:100px;
  position:absolute;
  font-size:25px;
  line-height:100px;
  text-align:center;
  
}

.boxes {
  position:relative;
  left:-100px;
}

.nav {
  position:relative;
  text-align:center;
 
  color:white;
  font-size:20px;
  margin:20px 0;
}
.box img{
  width:100px;
  height:100px;
}