body{
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    color:white;
    background:black url(https://s.cdpn.io/16327/texture_bg.jpg) no-repeat 50% 0px;
    overflow:hidden;
  }
  
  #quote{
    font-size:24px;
    line-height:36px;
    color:#dedede;
    margin:50px auto;
    width:800px;
  }
  
  #quote div{
    -webkit-font-smoothing: antialiased;
      -moz-font-smoothing:antialiased;
    font-smoothing: antialiased;
    will-change: transform;
  }
  