<div class="demo">
    <div id="quote">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</div>
</div>

<!-- <button id="animate">animate</button> -->

<script src="js/gsap.min.js"></script>
<script src="js/SplitText3.min.js"></script>
<script src="js/custom.js"></script>
<link rel="stylesheet" href="css/website.css">